<h2>Home</h1>
<div class='col-md-6'>
    <h4>About this page</h3>
    <p>
    I wanted to learn more about web technologies and javascript, so I decided to make this page. 
    It uses angular.js and bootstrap - nothing on the backend due to Github's limited hosting. 
    I have also messed around with node, express and jade on my Raspberry Pi, but I can't really have that public-facing due to ISP rules and a dynamic IP adress. 
    There's not really a purpose to this page other than that it was fun to make.
    </p>
</div>